/**** GENERAL STYLE ****/
/**** GENERAL STYLE ****/
/**** GENERAL STYLE ****/
.wrapper {
    margin-top: 6rem;
}
.page-item.active .page-link {
    color: #fff;
    background-color: #C8A461;
    border-color: #8c6e42;
}
.page-link {
    color: black;
}
.btn-green {
    color: #FFFFFF;
    background-color: #C8A461;
}
.btn-green:hover {
    color: #FFFFFF;
    background-color: rgba(140, 110, 66, 0.5);
}

.img-insta-content {
    padding: 5px 5px;
}
.img-insta-footer {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.img-insta-footer img {
    transition: transform .5s ease;
}
.img-insta-footer:hover img {
    transform: scale(1.1);
}
.img-cropped {
    object-fit: cover;
    object-position: center center;
    width: 100%;
}



/**** NAV & ASIDE STYLE ****/
/**** NAV & ASIDE STYLE ****/
/**** NAV & ASIDE STYLE ****/
.nav-item-admin a {
    font-size: 17px;
}
.nav-item-admin .nav-icon {
    font-size: 22px;
}



/**** ALLPOSTS STYLE ****/
/**** ALLPOSTS STYLE ****/
/**** ALLPOSTS STYLE ****/
.content-allposts {
    margin: 5rem auto;
    width: 100%;
}
.content-img-post-admin img {
    width: 90%;
}
.checkbox-filter {
    padding: 0 15px;
}
tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: none !important;
}



/**** CREATE POST STYLE ****/
/**** CREATE POST STYLE ****/
/**** CREATE POST STYLE ****/
.form-control:focus {
    border: solid 2px #C8A461;
    box-shadow: none;
}
option:checked {
    background: #C8A461 linear-gradient(0deg, #C8A461 0%, #C8A461 100%);
}



/**** SETTINGS PAGE STYLE ****/
/**** SETTINGS PAGE STYLE ****/
/**** SETTINGS PAGE STYLE ****/
div.dataTables_wrapper div.dataTables_filter input {
    width: 75% !important;
}



/**** SHOW PAGE STYLE ****/
/**** SHOW PAGE STYLE ****/
/**** SHOW PAGE STYLE ****/
.title-post {
    margin-bottom: 10rem;
}
.title-post h1 {
    font-weight: bolder;
    text-decoration: underline;
    color: #343a40;
}
.path {
    width: 100%;
    padding-bottom: 10px;
    overflow: hidden;
}
.path a {
    font-size: 12px;
    color: #c3c3c3;
    line-height: 18px;
}
.path i {
    color: #c3c3c3;
    font-size: 9px;
    padding: 0 5px;
    display: inline-block;
}
.path i:first-child {
    font-size: 12px;
}

.post-intro-content {
    margin: 3rem 0;
}
.post-meta .category a {
    font-size: 13px;
    font-weight: 700;
    color: #C8A461;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    margin-bottom: 15px;
    display: block;
}
.post-meta h1 {
    color: #444;
    line-height: 1.1em;
}
.post-meta p {
    color: #303133;
    font-size: 10px;
}

.blog-post {
    padding-left: 0;
    padding-right: 0;
}

.blog-post .post-footer {
    font-size: 0.8em;
}

.blog-post h1:hover {
    color: #444;
}

.blog-post .post-footer {
    margin-top: 20px;
}

.blog-post .post-body {
    margin-top: 40px;
}

.blog-post .post-body p {
    font-size: 1.1em;
    line-height: 1.7em;
    color: #555;
    margin-bottom: 30px;
}
.blog-post .post-body img {
    margin-bottom: 30px;
}
.blog-post .posts-nav {
    margin-top: 50px;
    color: #777;
    font-size: 0.8em;
}

.blog-post .posts-nav a {
    color: inherit;
    width: calc(50% - 10px);
    padding: 10px 20px;
    border: 1px solid #eee;
    margin-bottom: 15px;
}

.blog-post .posts-nav a:hover {
    border-color: #999;
}

.blog-post .posts-nav a:hover .icon {
    background: #999;
    color: #fff;
    border-color: #999;
}

.blog-post .icon {
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 32px;
    border: 1px solid #ddd;
    color: #aaa;
    font-size: 1.5em;
    text-align: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.blog-post .icon.prev {
    margin-right: 20px;
}

.blog-post .icon.next {
    margin-left: 20px;
}

.blog-post .post-comments {
    margin-top: 50px;
}

.blog-post .post-comments span.no-of-comments {
    color: #777;
    font-size: 0.8em;
    margin-left: 5px;
    font-weight: 400;
}

.blog-post .post-comments header {
    margin-bottom: 40px;
}

.blog-post .post-comments .comment:last-of-type .comment-body {
    border-bottom: none;
}

.blog-post .post-comments .image {
    margin-right: 15px;
}

.blog-post .post-comments .title::after {
    display: none;
}

.blog-post .post-comments img {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
}

.blog-post .post-comments strong {
    display: block;
    color: #555;
}

.blog-post .post-comments span.date {
    font-size: 0.8em;
    color: #999;
}

.blog-post .post-comments span.date::after {
    display: none;
}

.blog-post .post-comments p {
    font-size: 0.95em;
    color: #555;
}

.blog-post .add-comment {
    margin-top: 50px;
}

.blog-post .add-comment header {
    margin-bottom: 30px;
}

.blog-post .comment {
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.comment:not(:last-child) {
    border-bottom: solid 1px #999999;
}
.blog-post .comment-children {
    margin-left: 75px;
    margin-top: 10px;
}
.blog-post .comment-children:not(:last-child) {
    margin-bottom: 20px;
}


.blog-post .add-comment input,
.blog-post .add-comment textarea {
    background: none;
    padding: 10px 10px;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
}

.blog-post .add-comment input::-moz-placeholder,
.blog-post .add-comment textarea::-moz-placeholder {
    font-weight: 400;
    font-size: 0.9em;
    color: #aaa;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.blog-post .add-comment input::-webkit-input-placeholder,
.blog-post .add-comment textarea::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 0.9em;
    color: #aaa;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.blog-post .add-comment input:-ms-input-placeholder,
.blog-post .add-comment textarea:-ms-input-placeholder {
    font-weight: 400;
    font-size: 0.9em;
    color: #aaa;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.blog-post .add-comment input:focus,
.blog-post .add-comment textarea:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.blog-post .add-comment textarea {
    min-height: 150px;
}


/*Comment of comment style*/
.comment-footer {
    overflow: hidden;
    color: #444;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.comment-footer a {
    font-size: 12px !important;
}



@media (max-width: 767px) {
    #add-comment-header {
        display: block;
    }
    .posts-nav a {
        width: 100% !important;
    }
}

@media (max-width: 575px) {
    .blog-post .title::after {
        display: none !important;
    }
    .blog-post .author {
        margin-bottom: 10px;
    }
}

.reply-add-comment-h5 {
    text-transform: uppercase;
}
.reply-add-comment-h5 h5:first-child {
    font-size: 20px;
}
.reply-add-comment-h5 h5:last-child {
    color: #999999;
    cursor: pointer;
    padding-left: 40px;
    font-size: 16px;
}
.reply-add-comment-h5 h5:last-child:hover {
    color: black;
}




/* SELECT  FOR TAGS*/
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: transparent;
    color: black;
    padding-left: 25px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border-right: none;
}






// CUSTOM STYLE FOR POST SUMMERNOTE
.img-content {
    margin: 5rem 0;
}
.img-card {
    max-height: 413px;
    overflow: hidden;
}


// article #2 bonnes adresses lyon
.img-content-address {
    margin: 2rem 0 5rem 0;
}
.post-section {
    margin-top: 30px;
}
.address-section {
    margin-top: 20px;
}
