.contact-title-content {
    margin-bottom: 3rem;
}
.social-link a {
    font-size: 28px;
    color: #C8A461;
}
.social-link > a:not(:first-child) {
    margin-left: 25px;
}
.social-link a:hover {
    text-decoration: none;
}

/*------------------------------------------------------------------
[  ]*/
.contact2-form {
    width: 100%;
}
.contact2-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 90px;
}


/*------------------------------------------------------------------
[  ]*/
.wrap-input2 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}
.input2 {
    background-color: transparent;
    display: block;
    width: 100%;
    border: none;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    outline: none;
}
.focus-input2 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.focus-input2::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
}
.focus-input2::after {
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;

    font-family: "Nunito";
    font-size: 13px;
    letter-spacing: 1px;
    color: #999999;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

/*---------------------------------------------*/
input.input2 {
    height: 45px;
}
input.input2 + .focus-input2::after {
    top: 16px;
    left: 0;
}
textarea.input2 {
    min-height: 115px;
    padding-top: 13px;
    padding-bottom: 13px;
}
textarea.input2 + .focus-input2::after {
    top: 16px;
    left: 0;
}
.input2:focus + .focus-input2::after {
    top: -13px;
}
.input2:focus + .focus-input2::before {
    width: 100%;
}
.has-val.input2 + .focus-input2::after {
    top: -13px;
}
.has-val.input2 + .focus-input2::before {
    width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact2-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}
.wrap-contact2-form-btn {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 2px;
    width: auto;
    overflow: hidden;
    margin: 0 auto;
}
.contact2-form-btn {
    padding: 0 20px;
    min-width: 244px;
    height: 50px;
    color: #343a40;
    border-color: #343a40;
}
.contact2-form-btn:hover {
    color: #fff;
    background-color: rgba(200, 164, 97, 0.8);
    border-color: rgba(200, 164, 97, 0.8);
}
/*------------------------------------------------------------------
[ Responsive ]*/
@media (min-width: 1200px) {
    .contact2-form {
        width: 85%;
        margin: 0 auto;
    }
}
@media (max-width: 576px) {
    .wrap-contact2 {
        padding: 72px 15px 90px 15px;
    }
}
@media (max-width: 767px) {
    .contact-title-content {
        margin-bottom: 0;
    }
    .contact-info-content {
        margin-bottom: 2rem;
    }
}
