#foot {
    box-shadow: 0 -4px 10px -10px rgb(0 0 0 / 60%);
    background-color: #fff;
}
.info-footer {
    padding: 10px 0;
}
.info-footer p.info {
    margin: 12px 0;
    display: block;
    font-size: 13px;
    color: #C8A461;
    text-transform: uppercase;
    font-weight: bold;
}
.info-footer p.info a {
    text-transform: none;
    color: #C8A461;
}
