    /**** HEADER ****/
    /**** HEADER ****/
    /**** HEADER ****/
.site-header {
    background-color: white;
}
.site-header .container {
    padding-top: 0;
    padding-bottom: 0;
}
.site-title img {
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}



    /**** NAV ****/
    /**** NAV ****/
    /**** NAV ****/
.btn-vert {
    background-color: #C8A461;
}
.navbar {
    padding: 1.1rem 1rem;
}

.site-nav {
    background-color: white;
    box-shadow: 0 4px 10px -10px rgba(0, 0, 0, 0.6);
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    z-index: 999;
}
.navbar-toggler {
    background-color: transparent;
    border: 1px solid white;
}
.navbar-light .navbar-toggler {
    border: none;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(48,49,51, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.menu-bar {
    height: auto;
    width: 100%;
    text-align: center;
}
.menu-bar ul {
    margin: 0 auto;
    padding: 0;
}
.navbar-brand {
    padding: 0 !important;
}
.nav-menu li a {
    padding: 19px 20px;
    color: black;
    text-transform: uppercase;
}
.nav-menu li a:hover {
    color: #C8A461;
    background-color: transparent;
    text-decoration: none;
}
.social-nav a:hover {
    color: #C8A461;
    text-decoration: none;
}
.social-nav > div > form > input {
    border: 1px solid #777;
}
input[type="search"] {
    outline: none;
}

.main-content {
    padding: 16px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .main-content {
    padding-top: 102px;
}
.underline {
    text-decoration: underline;
}
.hide {
    display: none;
}
.show {
    visibility: visible;

}
.nav-item {
    margin: 0 20px;
}
.dropdown-menu.show {
    width: 20%;
    margin: auto;
}

@media (min-width: 992px) {
    .navbar-brand img {
        display: none;
    }
}

@media (max-width: 767px) {
    .site-nav {
        padding: 0;
    }
    .site-nav .container {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 991px) {
    .site-header {
        display: none;
    }
    .site-menu {
        padding: 0.5rem 0;
    }
    .navbar-brand img {
        width: 60px;
    }
    .navbar-nav li {
        padding: 10px 0;
    }
    .navbar-nav li i {
        padding: 0 10px;
    }
    .nav-menu li a {
        font-size: 0.8rem;
        padding: 19px 10px;
    }
}
@media (max-width: 1200px) {
    .nav-menu li {
        margin: 0 10px;
    }
}
