::selection {
    color: white;
    background-color: #C8A461;
}
::-moz-selection {
    color: white;
    background: #C8A461;
}
.active {
    text-decoration: underline;
    color: red;
}

.btn-green {
    color: #FFFFFF;
    background-color: #C8A461;
}
.btn-green:hover {
    color: #FFFFFF;
    background-color: rgba(140, 110, 66, 0.5);
}

section.featured-posts {
    padding-bottom: 3rem;
}
section.featured-posts .row:nth-of-type(odd) .text {
    background: #fafafa;
}

section.featured-posts .row:last-of-type {
    margin-bottom: 0;
}
section.featured-posts .content .category {
    font-size: 13px;
    font-weight: 700;
    color: #C8A461;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 15px;
    display: block;
}
section.featured-posts .content .post-title {
    margin-bottom: 15px;
    display: block;
}
section.featured-posts p {
    font-weight: 400;
    color: #777;
    font-size: 1em;
}



section.featured-posts a {
    color: inherit;
    text-decoration: none;
}

section.featured-posts h2 {
    position: relative;
    line-height: 1.1em;
    color: #333;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
section.featured-posts .home-cat-title:after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    opacity: 1;
    height: 3px;
    content: '';
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    background: #C8A461;
}

section.featured-posts h2:hover {
    color: #555;
}

/*section.featured-posts .avatar {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}*/

/*section.featured-posts .title,*/
section.featured-posts .date,
section.featured-posts .comments {
    font-size: 0.8em;
    font-weight: 400;
    color: #999;
}

/*section.featured-posts .title i,*/
section.featured-posts .date i,
section.featured-posts .comments i {
    margin-right: 5px;
}

/*section.featured-posts .title::after,*/
section.featured-posts .date::after,
section.featured-posts .comments::after {
    content: '|';
    display: inline-block;
    margin: 0 7px;
    font-size: 0.9em;
    color: #ccc;
}

section.featured-posts .comments::after {
    display: none;
}

section.featured-posts .image {
    /*max-height: 200px;*/
    width: auto;
    overflow: hidden;
    /*padding: 0;*/
}

section.featured-posts .image img {
    width: 80%;
}

section.featured-posts .post-header {
    margin-bottom: 10px;
}

section.featured-posts .post-footer {
    margin-top: 30px;
}

section.featured-posts .post-footer .btn {
    color: #343a40;
    border-color: #343a40;
    padding: 0.5rem 1rem;
}
section.featured-posts .post-footer .btn:hover {
    color: #fff;
    background-color: rgba(200, 164, 97, 0.8);
    border-color: rgba(200, 164, 97, 0.8);
}

.align-items-stretch {
    padding: 20px 0;
}

/* Featured Posts Section Media Query ------------------------------------- */
@media (max-width: 991px) {
    section.featured-posts .content {
        padding: 35px 30px 70px 30px;
    }
    section.featured-posts .image {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        /*order: 1;*/
        /*max-height: 300px;*/
        min-height: auto !important;
    }
    section.featured-posts .image img {
        width: 100%;
        height: auto !important;
    }
    section.featured-posts .text {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        /*order: 2;*/
    }
}

@media (max-width: 767px) {
    section.featured-posts .content {
        border-bottom: solid 1px #999999;
    }
    section.featured-posts .content p {
        text-align: left;
    }
    section.featured-posts .image {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        /*max-height: 300px;*/
        min-height: auto !important;
    }
    section.featured-posts .text {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}
@media (max-width: 575px) {
    section.featured-posts .post-footer {
        font-size: 0.9em;
    }
}

@media (max-width: 350px) {
    section.featured-posts .text-inner {
        padding: 15px;
    }
    section.featured-posts .post-footer {
        font-size: 0.75em;
    }
}


.insta-footer a {
    text-decoration: none;
    color: #333333;
}
.img-insta-content {
    padding: 5px 5px;
}
.img-insta-footer {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.img-insta-footer img {
    transition: transform .5s ease;
}
.img-insta-footer:hover img {
    transform: scale(1.1);
}
.img-cropped {
    object-fit: cover;
    object-position: center center;
    width: 100%;
}



.big-post-content {
    position: relative;
    z-index: 1;
}
.big-post-content .post-tag {
    font-size: 12px;
    font-weight: 600;
    color: #b0c364;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
.big-post-content .post-title {
    display: block;
    font-size: 24px;
    margin-bottom: 15px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
.big-post-content .post-meta {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}
.big-post-content p {
    margin-bottom: 30px;
}
