.path {
    width: 100%;
    padding-bottom: 10px;
    overflow: hidden;
}
.path a {
    font-size: 14px;
    color: #c3c3c3;
    line-height: 18px;
}
.path i {
    color: #c3c3c3;
    font-size: 11px;
    padding: 0 5px;
    display: inline-block;
}
.path i:first-child {
    font-size: 14px;
}

.sticky-sum {
    position: sticky;
    top: 100px;
}
.summary-post {
    .sum-post {
        .nav-item-post:hover {
            cursor: pointer;
        }
    }
}
.article-pp {
    h2 {
        color: #C8A461;
        font-weight: bold;
        padding-top: 65px;
        margin: 0 0 40px 50px;
    }
}
.active-summary {
    color: #C8A461;
    text-decoration: underline;
    font-weight: bold;
}

.post-intro-content {
    margin: 3rem 0;
}
.post-meta .category a {
    font-size: 13px;
    font-weight: 700;
    color: #C8A461;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    margin-bottom: 15px;
    display: block;
}
section.post-intro-content .post-meta .date,
section.post-intro-content .post-meta .comments {
    font-size: 0.8em;
    font-weight: 400;
    color: #999;
}
section.post-intro-content .post-meta .date::after,
section.post-intro-content .post-meta .comments::after {
    content: '|';
    display: inline-block;
    margin: 0 7px;
    font-size: 0.9em;
    color: #ccc;
}

section.post-intro-content .post-meta .comments::after {
    display: none;
}
.post-meta h1 {
    color: #444;
    line-height: 1.1em;
}
.post-meta p {
    color: #303133;
    font-size: 10px;
}
img.img-fluid {
    width: 100%;
}

.blog-post .post-footer {
    font-size: 0.8em;
}

.blog-post h1:hover {
    color: #444;
}

.blog-post .post-footer {
    margin-top: 20px;
}

.blog-post .post-body {
    margin-top: 40px;
}

.blog-post .post-body p,
.blog-post .post-body li{
    font-size: 1.1em;
    line-height: 1.7em;
    color: #555;
}
.blog-post .post-body {
    margin-bottom: 30px;
}
.blog-post .post-body img {
    margin-bottom: 30px;
}
.blog-post .posts-nav {
    margin-top: 50px;
    color: #777;
    font-size: 0.8em;
    .next-previous-posts {
        color: inherit;
    }
}

.blog-post .posts-nav a {
    color: inherit;
    width: calc(50% - 10px);
    padding: 10px 20px;
    border: 1px solid #eee;
    margin-bottom: 15px;
}

.blog-post .posts-nav a:hover {
    text-decoration: none;
    border-color: #C8A461;
}

.blog-post .posts-nav a:hover .icon {
    background: #C8A461;
    color: #fff;
    border-color: #C8A461;
}
.blog-post .posts-nav a:hover .next-previous-posts {
    color: #C8A461;
}

.blog-post .icon {
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 32px;
    border: 1px solid #ddd;
    color: #aaa;
    font-size: 1.5em;
    text-align: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.blog-post .icon.prev {
    margin-right: 20px;
}

.blog-post .icon.next {
    margin-left: 20px;
}

.blog-post .post-comments {
    margin-top: 50px;
}

.blog-post .post-comments span.no-of-comments {
    color: #777;
    font-size: 0.8em;
    margin-left: 5px;
    font-weight: 400;
}

.blog-post .post-comments header {
    margin-bottom: 40px;
}

.blog-post .post-comments .comment-body {
    margin-left: 55px;
}

.blog-post .post-comments .comment:last-of-type .comment-body {
    border-bottom: none;
}

.blog-post .post-comments .image {
    margin-right: 15px;
}

.blog-post .post-comments .title::after {
    display: none;
}

.blog-post .post-comments img {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
}

.blog-post .post-comments strong {
    display: block;
    color: #555;
    text-transform: uppercase;
}

.blog-post .post-comments span.date {
    font-size: 0.8em;
    color: #999;
}

.blog-post .post-comments span.date::after {
    display: none;
}

.blog-post .post-comments p {
    font-size: 1.1em;
    color: #555;
}

.blog-post .add-comment {
    margin-top: 50px;
}

.blog-post .add-comment header {
    margin-bottom: 30px;
}

.blog-post .comment {
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.comment:not(:last-child) {
    border-bottom: solid 1px #c3c3c3;
}
.blog-post .comment-children {
    margin-left: 75px;
    margin-top: 10px;
}
.blog-post .comment-children:not(:last-child) {
    margin-bottom: 20px;
}


.blog-post .add-comment input,
.blog-post .add-comment textarea {
    background: none;
    padding: 10px 10px;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
}

.blog-post .add-comment input::-moz-placeholder,
.blog-post .add-comment textarea::-moz-placeholder {
    font-weight: 400;
    font-size: 0.9em;
    color: #aaa;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.blog-post .add-comment input::-webkit-input-placeholder,
.blog-post .add-comment textarea::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 0.9em;
    color: #aaa;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.blog-post .add-comment input:-ms-input-placeholder,
.blog-post .add-comment textarea:-ms-input-placeholder {
    font-weight: 400;
    font-size: 0.9em;
    color: #aaa;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.blog-post .add-comment input:focus,
.blog-post .add-comment textarea:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.blog-post .add-comment textarea {
    min-height: 150px;
}


/*Comment of comment style*/
.comment-footer {
    overflow: hidden;
    color: #444;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.comment-footer a {
    font-size: 12px !important;
}


@media (max-width: 767px) {
    #add-comment-header {
        display: block;
    }
    .posts-nav a {
        width: 100% !important;
    }
}

@media (max-width: 575px) {
    .blog-post .title::after {
        display: none !important;
    }
    .blog-post .author {
        margin-bottom: 10px;
    }
}

.reply-add-comment-h5 {
    text-transform: uppercase;
}
.reply-add-comment-h5 h5:first-child {
    font-size: 20px;
}
.reply-add-comment-h5 h5:last-child {
    color: #999999;
    cursor: pointer;
    padding-left: 40px;
    font-size: 16px;
}
.reply-add-comment-h5 h5:last-child:hover {
    color: black;
}
#reply-form button,
#add-comment button {
    padding: 0.6rem 1.5rem;
    color: #343a40;
    border-color: #343a40;
}
#reply-form button:hover,
#add-comment button:hover {
    color: #fff;
    background-color: rgba(200, 164, 97, 0.8);
    border-color: rgba(200, 164, 97, 0.8);
}



/* CLASS FOR CODE IN SUMMERNOTE */
.blog-post {
    padding-left: 0;
    padding-right: 0;
    .post-single {
        .post-details {
            .post-body {
                .img-content1, .img-content2 {
                    margin: 5rem 0;
                }
                .img-card {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width:  1200px) {
    .img-content1, .img-content2 {
        overflow: hidden;
    }
    .img-content1 {
        max-height: 413px;
        .img-card {
            img {
                width: 100%;
            }
        }
    }
    .img-content2 {
        max-height: 424px;
    }

}
@media (min-width:  992px) and (max-width: 1199px) {
    .img-card {
        max-height: 413px;
        overflow: hidden;
    }
    .img-card img {
        width: 100%;
    }
}









// CUSTOM STYLE FOR POST SUMMERNOTE
.img-content {
    margin: 5rem 0;
}
.img-card {
    max-height: 413px;
    overflow: hidden;
}

// article #2 bonnes adresses lyon
.img-content-address {
    margin: 2rem 0 5rem 0;
}
.img-card-address {
    max-height: 420px;
    overflow: hidden;
}
.post-section {
    margin-top: 30px;
}
.address-section {
    margin-top: 20px;
}